@tailwind base;
@tailwind components;
@tailwind utilities;




.glass--bg{
    /* From https://css.glass */
background: rgba(69, 67, 67, 0.29);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
}